In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC, LinearSVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_predict, cross_validate
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn import metrics
from sklearn.pipeline import make_pipeline
from sklearn import metrics
from sklearn.model_selection import learning_curve
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [45]:
C:\Users\antho\OneDrive - University College Dublin\ACM20030 1\ALPACA\Dyt-desktop.csv

SyntaxError: unexpected character after line continuation character (4238461629.py, line 1)

In [46]:
dfile_path = r"C:\Users\antho\OneDrive - University College Dublin\ACM20030 1\ALPACA\Dyt-desktop.csv"
tfile_path = r"C:\Users\antho\OneDrive - University College Dublin\ACM20030 1\ALPACA\Dyt-tablet.csv"
# Reading file
dData = pd.read_csv(dfile_path, index_col=0, na_values=['(NA)'])
tData = pd.read_csv(tfile_path, index_col=0, na_values=['(NA)'])
# Display the first few rows
print('Desktop Data:')
print(dData.head())
print('Tablet Data:')
print(tData.head())

Desktop Data:
Empty DataFrame
Columns: []
Index: [Male;No;Yes;7;10;10;0;10;1;0;5;5;0;5;1;0;6;6;0;6;1;0;2;2;0;2;1;0;3;3;0;3;1;0;4;1;3;1;0.25;0.75;5;5;0;5;1;0;4;3;1;3;0.75;0.25;1;0;1;0;0;1;1;1;0;1;1;0;3;1;2;1;0.333333;0.666667;3;3;0;3;1;0;3;3;0;3;1;0;4;4;0;4;1;0;2;2;0;2;1;0;2;2;0;2;1;0;3;3;0;3;1;0;2;2;0;2;1;0;4;3;1;3;0.75;0.25;5;1;4;1;0.2;0.8;3;1;2;1;0.333333;0.666667;4;1;3;1;0.25;0.75;4;3;1;3;0.75;0.25;3;2;1;2;0.666667;0.333333;3;3;0;3;1;0;5;3;2;3;0.6;0.4;9;1;1;1;0.111111;0.111111;6;2;0;2;0.333333;0;4;1;1;1;0.25;0.25;14;1;2;1;0.0714286;0.142857;18;0;0;0;0;0;17;2;0;2;0.117647;0;No, Female;Yes;Yes;13;12;12;0;12;1;0;11;11;0;11;1;0;10;10;0;10;1;0;4;4;0;4;1;0;5;5;0;5;1;0;5;5;0;5;1;0;5;4;1;4;0.8;0.2;6;5;1;5;0.833333;0.166667;5;4;1;4;0.8;0.2;10;10;0;10;1;0;5;4;1;4;0.8;0.2;5;5;0;5;1;0;4;4;0;4;1;0;10;10;0;10;1;0;5;5;0;5;1;0;4;4;0;4;1;0;4;4;0;4;1;0;4;3;1;3;0.75;0.25;8;3;5;3;375;625;3;1;2;1;0.333333;0.666667;3;1;2;1;0.333333;0.666667;9;7;2;7;0.777778;0.222222;6;5;1;5;0.833333;0.166667;3;2;1;2;0.666667;0.333333;5;5;0;5;1;0;12;8;4;8;0.666667;0.333333;16;2;1;2;125;0.0625;9;2;1;2;0.222222;0.111111;5;0;2;0;0;0.4;17;2;2;2;0.117647;0.117647;35;4;0;4;0.114286;0;26;2;2;2;0.0769231;0.0769231;Yes, Female;No;Yes;7;6;6;0;6;1;0;6;6;0;6;1;0;6;6;0;6;1;0;3;3;0;3;1;0;4;4;0;4;1;0;2;2;0;2;1;0;7;5;2;5;0.714286;0.285714;5;3;2;3;0.6;0.4;3;3;0;3;1;0;7;5;2;5;0.714286;0.285714;6;5;1;5;0.833333;0.166667;6;6;0;6;1;0;3;3;0;3;1;0;6;6;0;6;1;0;3;3;0;3;1;0;4;4;0;4;1;0;2;2;0;2;1;0;2;1;1;1;0.5;0.5;5;4;1;4;0.8;0.2;6;1;5;1;0.166667;0.833333;6;3;3;3;0.5;0.5;6;5;1;5;0.833333;0.166667;5;3;2;3;0.6;0.4;4;3;1;3;0.75;0.25;5;4;1;4;0.8;0.2;5;2;3;2;0.4;0.6;17;2;1;2;0.117647;0.0588235;13;3;1;3;0.230769;0.0769231;5;0;2;0;0;0.4;17;1;3;1;0.0588235;0.176471;35;4;0;4;0.114286;0;26;1;3;1;0.0384615;0.115385;No, Female;No;Yes;7;0;0;0;0;0;0;0;0;0;0;0;0;1;1;0;1;1;0;0;0;0;0;0;0;2;1;1;1;0.5;0.5;0;0;0;0;0;0;4;0;4;0;0;1;2;0;2;0;0;1;3;0;3;0;0;1;2;1;1;1;0.5;0.5;3;0;3;0;0;1;2;0;2;0;0;1;0;0;0;0;0;0;5;5;0;5;1;0;4;4;0;4;1;0;4;4;0;4;1;0;3;3;0;3;1;0;0;0;0;0;0;0;6;1;5;1;0.166667;0.833333;1;0;1;0;0;1;1;0;1;0;0;1;5;2;3;2;0.4;0.6;4;3;1;3;0.75;0.25;3;3;0;3;1;0;3;3;0;3;1;0;2;2;0;2;1;0;4;0;0;0;0;0;6;2;0;2;0.333333;0;1;0;1;0;0;1;8;0;1;0;0;125;4;0;0;0;0;0;1;0;0;0;0;0;No, Female;No;Yes;8;4;4;0;4;1;0;8;8;0;8;1;0;5;5;0;5;1;0;5;2;3;2;0.4;0.6;4;4;0;4;1;0;5;3;2;3;0.6;0.4;6;5;1;5;0.833333;0.166667;6;4;2;4;0.666667;0.333333;5;3;2;3;0.6;0.4;7;7;0;7;1;0;5;4;1;4;0.8;0.2;3;3;0;3;1;0;4;4;0;4;1;0;2;2;0;2;1;0;3;3;0;3;1;0;3;3;0;3;1;0;4;4;0;4;1;0;5;5;0;5;1;0;4;3;1;3;0.75;0.25;2;2;0;2;1;0;3;1;2;1;0.333333;0.666667;7;5;2;5;0.714286;0.285714;5;2;3;2;0.4;0.6;4;2;2;2;0.5;0.5;4;4;0;4;1;0;9;6;3;6;0.666667;0.333333;15;1;2;1;0.0666667;0.133333;13;4;0;4;0.307692;0;4;1;1;1;0.25;0.25;17;0;4;0;0;0.235294;40;1;2;1;25;0.05;26;2;2;2;0.0769231;0.0769231;No]
Tablet Data:
Empty DataFrame
Columns: []
Index: [Male;Yes;No;7;6;6;0;6;1;0;5;4;1;5;0.8;0.2;5;5;0;5;1;0;7;0;7;7;0;1;5;5;0;5;1;0;4;3;1;4;0.75;0.25;4;4;0;4;1;0;4;4;0;4;1;0;2;2;0;2;1;0;8;0;8;8;0;1;2;0;2;2;0;1;3;0;3;3;0;1;NULL;NULL;NULL;NULL;NULL;NULL;7;7;0;7;1;0;4;4;0;4;1;0;3;3;0;3;1;0;5;5;0;5;1;0;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;1;1;0;1;1;0;4;4;0;4;1;0;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;21;2;2;21;0.095238095238095;0.095238095238095;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;No, Female;Yes;No;7;7;7;0;7;1;0;7;7;0;7;1;0;5;5;0;5;1;0;3;3;0;3;1;0;4;4;0;4;1;0;7;6;1;7;0.85714285714286;0.14285714285714;5;5;0;5;1;0;2;1;1;2;0.5;0.5;2;2;0;2;1;0;3;3;0;3;1;0;3;2;1;3;0.66666666666667;0.33333333333333;4;2;2;4;0.5;0.5;NULL;NULL;NULL;NULL;NULL;NULL;7;7;0;7;1;0;4;4;0;4;1;0;3;3;0;3;1;0;3;3;0;3;1;0;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;2;0;2;2;0;1;4;0;4;4;0;1;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;13;0;1;13;0;0.076923076923077;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;No, Female;Yes;No;7;6;6;0;6;1;0;7;7;0;7;1;0;4;0;4;4;0;1;7;0;7;7;0;1;3;1;2;3;0.33333333333333;0.66666666666667;4;3;1;4;0.75;0.25;2;2;0;2;1;0;5;3;2;5;0.6;0.4;6;1;5;6;0.16666666666667;0.83333333333333;7;7;0;7;1;0;7;2;5;7;0.28571428571429;0.71428571428571;3;2;1;3;0.66666666666667;0.33333333333333;NULL;NULL;NULL;NULL;NULL;NULL;6;6;0;6;1;0;2;1;1;2;0.5;0.5;5;5;0;5;1;0;4;4;0;4;1;0;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;5;1;4;5;0.2;0.8;4;4;0;4;1;0;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;21;1;3;21;0.047619047619048;0.14285714285714;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;No, Male;Yes;No;7;5;5;0;5;1;0;5;4;1;5;0.8;0.2;3;3;0;3;1;0;3;3;0;3;1;0;2;2;0;2;1;0;2;1;1;2;0.5;0.5;3;3;0;3;1;0;1;1;0;1;1;0;2;2;0;2;1;0;4;4;0;4;1;0;2;2;0;2;1;0;1;1;0;1;1;0;NULL;NULL;NULL;NULL;NULL;NULL;5;5;0;5;1;0;2;1;1;2;0.5;0.5;4;4;0;4;1;0;3;3;0;3;1;0;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;3;0;3;3;0;1;3;2;1;3;0.66666666666667;0.33333333333333;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;21;1;3;21;0.047619047619048;0.14285714285714;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;No, Male;Yes;No;7;8;6;2;8;0.75;0.25;4;4;0;4;1;0;7;5;2;7;0.71428571428571;0.28571428571429;2;2;0;2;1;0;3;0;3;3;0;1;2;0;2;2;0;1;6;1;5;6;0.16666666666667;0.83333333333333;4;3;1;4;0.75;0.25;5;2;3;5;0.4;0.6;3;3;0;3;1;0;9;0;9;9;0;1;6;4;2;6;0.66666666666667;0.33333333333333;NULL;NULL;NULL;NULL;NULL;NULL;8;8;0;8;1;0;5;5;0;5;1;0;4;4;0;4;1;0;5;5;0;5;1;0;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;6;1;5;6;0.16666666666667;0.83333333333333;4;3;1;4;0.75;0.25;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;21;1;3;21;0.047619047619048;0.14285714285714;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;NULL;No]

In [47]:
def SeparateColumns(dataSetName):
    columns = defaultdict(list)
    with open(dataSetName, 'r') as f:
        reader = csv.reader(f, delimiter=';')
        headers = next(reader)
        column_nums = range(len(headers)) # Do NOT change to xrange
        for row in reader:
            for i in column_nums:
            
                columns[headers[i]].append(row[i])
    # Following line is only necessary if you want a key error for invalid column names
    return dict(columns)

In [48]:
def cleanData(data) :
    for col in data.columns.values:
        data[col] = data[col].astype('string')
    #----------
    for col in data.columns.values:
        data[col] = data[col].astype('float',errors = 'ignore')
    #-----------
    data['Gender']=data.Gender.map({'Male': 1, 'Female': 2})
    data['Dyslexia']=data.Dyslexia.map({'No': 0, 'Yes': 1})
    data['Nativelang']=data.Nativelang.map({'No': 0, 'Yes': 1})
    data['Otherlang']=data.Otherlang.map({'No': 0, 'Yes': 1})

In [49]:
import csv
from collections import defaultdict
columns = SeparateColumns(dfile_path)
dtData=pd.DataFrame.from_dict(columns)
cleanData(dtData)

dtData.head()

,Gender,Nativelang,Otherlang,Age,Clicks1,Hits1,Misses1,Score1,Accuracy1,Missrate1,...,Score31,Accuracy31,Missrate31,Clicks32,Hits32,Misses32,Score32,Accuracy32,Missrate32,Dyslexia
0,1,0,1,7.0,10.0,10.0,0.0,10.0,1.0,0.0,...,0.0,0.000000,0.00,17.0,2.0,0.0,2.0,0.117647,0.000000,0
1,2,1,1,13.0,12.0,12.0,0.0,12.0,1.0,0.0,...,4.0,0.114286,0.00,26.0,2.0,2.0,2.0,0.076923,0.076923,1
2,2,0,1,7.0,6.0,6.0,0.0,6.0,1.0,0.0,...,4.0,0.114286,0.00,26.0,1.0,3.0,1.0,0.038462,0.115385,0
3,2,0,1,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.00,1.0,0.0,0.0,0.0,0.000000,0.000000,0
4,2,0,1,8.0,4.0,4.0,0.0,4.0,1.0,0.0,...,1.0,25.000000,0.05,26.0,2.0,2.0,2.0,0.076923,0.076923,0

In [50]:
columns = SeparateColumns(tfile_path)
tabData=pd.DataFrame.from_dict(columns)
tabData.replace(["NULL"], np.nan, inplace = True)

cleanData(tabData)

tabData.head()

,Gender,Nativelang,Otherlang,Age,Clicks1,Hits1,Misses1,Score1,Accuracy1,Missrate1,...,Score31,Accuracy31,Missrate31,Clicks32,Hits32,Misses32,Score32,Accuracy32,Missrate32,Dyslexia
0,1,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,1,0,7.0,7.0,7.0,0.0,7.0,1.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1,1,0,7.0,5.0,5.0,0.0,5.0,1.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1,1,0,7.0,8.0,6.0,2.0,8.0,0.75,0.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [51]:
stateOfNUll= tabData.isnull().any()
i = 0
for state in stateOfNUll : 
    if(state):  
        tabData[stateOfNUll.index[i]].fillna(round(tabData[stateOfNUll.index[i]].mean() , 4), inplace=True)
    i = i + 1    

tabData

,Gender,Nativelang,Otherlang,Age,Clicks1,Hits1,Misses1,Score1,Accuracy1,Missrate1,...,Score31,Accuracy31,Missrate31,Clicks32,Hits32,Misses32,Score32,Accuracy32,Missrate32,Dyslexia
0,1,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
1,2,1,0,7.0,7.0,7.0,0.0,7.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
2,2,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
3,1,1,0,7.0,5.0,5.0,0.0,5.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
4,1,1,0,7.0,8.0,6.0,2.0,8.0,0.75,0.25,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,1,1,0,17.0,13.0,13.0,0.0,13.0,1.00,0.00,...,35.0000,0.114286,0.0000,26.00,4.0000,0.0000,26.00,0.153846,0.000000,0
1391,2,1,1,17.0,9.0,9.0,0.0,9.0,1.00,0.00,...,35.0000,0.114286,0.0000,26.00,4.0000,0.0000,26.00,0.153846,0.000000,0
1392,1,1,1,17.0,10.0,10.0,0.0,10.0,1.00,0.00,...,35.0000,0.114286,0.0000,27.00,3.0000,2.0000,27.00,0.111111,0.074074,0
1393,2,1,1,17.0,11.0,11.0,0.0,11.0,1.00,0.00,...,35.0000,0.114286,0.0000,26.00,4.0000,0.0000,26.00,0.153846,0.000000,0
1394,2,1,0,17.0,9.0,9.0,0.0,9.0,1.00,0.00,...,35.0000,0.114286,0.0000,33.00,4.0000,2.0000,33.00,0.121212,0.060606,1

In [52]:
cols_with_missing = [col for col in tabData.columns if tabData[col].isnull().any()]

# Drop columns desktop data
reduced_desktopData = dtData.drop(cols_with_missing, axis=1)

# Drop columns tablet data
reduced_tabletData = tabData.drop(cols_with_missing, axis=1)

In [53]:
commonalityColumns = ['Gender','Nativelang','Otherlang','Age' , 'Dyslexia']
for i in  range(30):
    if((i>=0 and i<12) or (i>=13 and i<17) or i==21 or i==22 or i==29):
        commonalityColumns.append('Clicks'+str(i+1))
        commonalityColumns.append('Hits'+str(i+1))
        commonalityColumns.append('Misses'+str(i+1))
        commonalityColumns.append('Score'+str(i+1))
        commonalityColumns.append('Accuracy'+str(i+1))
        commonalityColumns.append('Missrate'+str(i+1))
    
reduced_desktopData=reduced_desktopData.loc[:,commonalityColumns]
reduced_tabletData=reduced_tabletData.loc[:,commonalityColumns]

In [54]:
y=reduced_desktopData['Dyslexia']
X=reduced_desktopData.loc[:, reduced_desktopData.columns != 'Dyslexia']

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [56]:
#----RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train , y_train)
y_pred = rfc.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8902743142144638

In [57]:
from sklearn import neighbors, metrics
model = neighbors.KNeighborsClassifier()

# Fit the model
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8836242726517041

In [58]:
from sklearn import svm
model=svm.SVC()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8877805486284289